:root {
  --temp: 341;
  --color-background: hsl(210, 65%, 20%);
  --color-text: hsl(0, 0%, 92%);
  --color-border: hsl(210, 58%, 57%);
  --color-background-lighter: hsl(210, 65%, 80%);
  --color-active-button: hsl(210, 65%, 80%);
  --color-c1: 360;
  --color-c2: 341;
  --color-c3: 14;
  --color-c4: 39;
  --color-c5: 110;
  --color-c6: 153;
  --color-c7: 200;
  --color-c8: 220;
}

html {
  font-size: 14px;
  font-family: Helvetica neue;
}

body {
  padding: 0.2rem;
  margin: 0.2rem;
}

.wrapper {
  background: var(--color-background);
  border-radius: 1rem;
  position: relative;
}
.wrapper #backdrop {
  position: fixed;
  display: none;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
.wrapper header .title {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--color-background-lighter);
  padding-top: 5px;
  padding-left: 10px;
  margin: 0;
}
.wrapper header #info {
  cursor: pointer;
}
.wrapper #help {
  display: none;
  padding: 0 5px;
  border: 2px solid var(--color-border);
  border-radius: 10px;
  position: absolute;
  background: var(--color-background-lighter);
  max-width: 80%;
  left: 10%;
  z-index: 10;
}
.wrapper #help em {
  font-family: cursive;
  font-size: large;
}
.wrapper #help th {
  vertical-align: top;
  text-align: right;
  padding-right: 5px;
}
.wrapper #help kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}
.wrapper #help p {
  padding: 0px;
  margin: 5px;
}
.wrapper #help a {
  color: var(--color-background);
  text-decoration: none;
}
.wrapper #help a:hover {
  text-decoration: underline;
}
.wrapper #help #recordings {
  text-align: left;
}
.wrapper #help .copyright,
.wrapper #help .version {
  text-align: right;
  font-size: smaller;
}
.wrapper #spemFrame {
  margin: 5px;
}
.wrapper #spemFrame #spemCanvas {
  cursor: crosshair;
  width: 100%;
  height: 60vh;
  min-height: 200px;
}

.controls {
  margin: 0 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.controls #playpausebutton {
  padding: 3px;
  margin: 3px 0;
  width: 3rem;
  height: 3rem;
  background: white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid var(--color-border);
  border-radius: 50%;
  cursor: pointer;
}
.controls #playpausebutton:hover, .controls #playpausebutton:focus {
  background: var(--color-background-lighter);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.controls #playpausebutton:active {
  background: var(--color-active-button);
  border: 2px solid var(--color-background);
  padding: 4px 2px 2px 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.controls #playpausebutton #spinner {
  display: none;
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
}
.controls #playpausebutton .path {
  width: 50px;
  stroke-dasharray: 100;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}
.controls #playpausebutton .button {
  border: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 0;
  height: 2rem;
  border-color: transparent transparent transparent #202020;
  -webkit-transition: 100ms all ease;
  transition: 100ms all ease;
  border-style: double;
  border-width: 0 0 0 1.8rem;
}
.controls #playpausebutton .button.paused {
  border-style: solid;
  border-width: 1rem 0 1rem 1.8rem;
}
.controls .controlsection {
  -ms-flex-preferred-size: 4rem;
      flex-basis: 4rem;
  margin: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.controls .controlsection label {
  text-align: left;
  color: var(--color-text);
}
.controls .controlsection input,
.controls .controlsection select,
.controls .controlsection #bar-field {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid var(--color-border);
  height: 2rem;
  padding: 2px;
  margin: 0;
  border-radius: 1vh;
  font-size: 1.2rem;
}
.controls .partcontrol {
  -ms-flex-preferred-size: 6rem;
      flex-basis: 6rem;
}
.controls .statusspacer {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.controls #statusarea {
  -ms-flex-preferred-size: 5rem;
      flex-basis: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.9rem;
  text-align: left;
  text-transform: capitalize;
  color: var(--color-text);
}
.controls #statusarea.hide {
  -webkit-transition: 1.5s;
  transition: 1.5s;
  color: var(--color-background);
}
@media screen and (max-width: 25rem) {
  .controls #statusarea {
    display: none;
  }
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
@-webkit-keyframes colors {
  0% {
    stroke: hsl(var(--color-c1), 50%, 50%);
  }
  25% {
    stroke: var(--color-c3);
  }
  50% {
    stroke: var(--color-c5);
  }
  75% {
    stroke: var(--color-c8);
  }
  100% {
    stroke: hsl(var(--color-c1), 50%, 50%);
  }
}
@keyframes colors {
  0% {
    stroke: hsl(var(--color-c1), 50%, 50%);
  }
  25% {
    stroke: var(--color-c3);
  }
  50% {
    stroke: var(--color-c5);
  }
  75% {
    stroke: var(--color-c8);
  }
  100% {
    stroke: hsl(var(--color-c1), 50%, 50%);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 100;
  }
  50% {
    stroke-dashoffset: 25;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 100;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 100;
  }
  50% {
    stroke-dashoffset: 25;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 100;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}/*# sourceMappingURL=index.css.map */