// for the spinner while audio is loading
$offset: 100;
$duration: 1.4s;

html {
    font-size: 14px;
    font-family: Helvetica neue;
}

/* Default colors */
body {
    --color-background: hsl(210, 65%, 100%);
    --color-text: hsl(210, 65%, 30%);
    --color-title: hsl(210, 65%, 20%);
    --color-highlight: hsl(210, 65%, 90%);
}
/* Dark theme colors */
body.dark-theme { 
    --color-background: hsl(210, 65%, 20%);
    --color-text: hsl(0, 0%, 92%);
    --color-title: hsl(210, 65%, 80%);
    --color-highlight: hsl(210, 65%, 25%);
}
  
/* Styles for users who prefer dark mode at the OS level */
@media (prefers-color-scheme: dark) {
/* defaults to dark theme */
    body { 
        --color-background: hsl(210, 65%, 20%);
        --color-text: hsl(0, 0%, 92%);
        --color-title: hsl(210, 65%, 80%);
        --color-highlight: hsl(210, 65%, 25%);
    }
    /* Override dark mode with light mode styles if the user decides to swap */
    body.light-theme {
        --color-background: hsl(210, 65%, 100%);
        --color-text: hsl(210, 65%, 30%);
        --color-title: hsl(210, 65%, 20%);
        --color-highlight: hsl(210, 65%, 90%);
    }
}

body {
    --color-border: hsl(210, 58%, 57%);
    --color-background-lighter: hsl(210, 65%, 80%);
    --color-active-button: hsl(210, 65%, 80%);
    --color-score-highlight: hsl(210, 65%, 25%);
    --color-c1: 360;  // only define hue, because javascript 
    --color-c2: 320;  // adds a saturation of 50% and modifies the lightness
    --color-c3: 30;
    --color-c4: 50;
    --color-c5: 110;
    --color-c6: 150;
    --color-c7: 190;
    --color-c8: 220;
}

body {
    padding: 0;
    margin: 0;
}

#backdrop {
    position: fixed;
    display: none;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

.viewportDiv {
    display: flex;
    flex-direction: column;
    background: var(--color-background);
    height: 100vh;
}

header {
    display: flex;
    align-items: baseline;
    column-gap: 3px;

    .title {
        display: inline-block;
        font-size: 1.4rem;
        color: var(--color-title);
        padding-top: 5px;
        padding-left: 10px;
        margin: 0;
    }
    #info {
        cursor: pointer;

        path {
            fill: var(--color-title);
        }
    }

    .header-spacer {
        flex-grow: 1;
    }

    .dark-label {
        color: var(--color-text);
        font-size: small;
    }

    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 30px;
        height: 20px;
        margin-right: 20px;
        
        /* Hide default HTML checkbox */
        input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        /* The slider */
        .slider {
            position: absolute;
            border-radius: 34px;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }
        
        .slider:before {
            position: absolute;
            border-radius: 50%;
            content: "";
            height: 80%;
            aspect-ratio: 1 / 1;
            left: 8%;
            bottom: 10%;
            background-color: white;
            transition: .2s;
        }

    }
    
    
    input:checked + .slider {
        background-color: var(--color-background-lighter);
    }
    
    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }
    
    input:checked + .slider:before {
        transform: translateX(70%);
    }
}

#help {
    display: none;
    padding: 0 5px;
    border: 2px solid var(--color-border);
    border-radius: 10px;
    position: absolute;
    background: var(--color-background-lighter);
    max-width: 80%;
    left: 10%;
    z-index: 10;

    em {
        font-family: cursive;
        font-size: large;
    }

    th {
        vertical-align: top;
        text-align: right;
        padding-right: 5px;
    }

    kbd {
        background-color: #eee;
        border-radius: 3px;
        border: 1px solid #b4b4b4;
        box-shadow:
          0 1px 1px rgba(0, 0, 0, 0.2),
          0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
        color: #333;
        display: inline-block;
        font-size: 0.85em;
        font-weight: 700;
        line-height: 1;
        padding: 2px 4px;
        white-space: nowrap;
      }

    p {
        padding: 0px;
        margin: 5px;
    }

    a {
        color: var(--color-background);
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    #recordings {
        text-align: left;
    }

    .copyright,
    .version {
        text-align: right;
        font-size: smaller;
    }
}

#spemScore {
    resize: vertical;
    background-color: whitesmoke;
    overflow: auto;
    // font-size: 0; // so that white space between img tags doesn't take any horizontal space
    border-radius: 10px;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    padding: 0 0.2rem 0 0.2rem;
    border-color: hsla(var(--color-c1), 80%, 55%, 1);
    border-width: 3px;
    border-style: solid;
    height: 300px;

    svg {
        height: 100%;
    }

}

#spemCanvas {
    flex-grow: 1;
    cursor: crosshair;
    width: 100%;
}

// BUG: looks ugly when Bar wraps to next line
.footer {
    // position: fixed;
    // left: 0;
    // bottom: 0;
    // right: 0;
    padding: 0.5rem 0.2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
 
    #playpausebutton {
        padding: 3px;
        margin: 3px 0;
        
        width: 3rem;
        height: 3rem;
        background: white;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 2px solid var(--color-border);
        border-radius: 50%;
        cursor: pointer;
        &:hover,
        &:focus {
            background: var(--color-background-lighter);
            transition: all 0.2s ease-in-out;
        }
        &:active {
            background: var(--color-active-button);
            border: 2px solid var(--color-background);
            padding: 4px 2px 2px 4px;
            transition: all 0.2s ease-in-out;
        }

        #spinner {
            display: none;
            animation: rotator $duration linear infinite;
            // animation: pulse 2s infinite;
        }

        .path {
            width: 50px;
            stroke-dasharray: $offset;
            stroke-dashoffset: 0;
            transform-origin: center;
            animation:
              dash $duration ease-in-out infinite, 
              colors ($duration*4) ease-in-out infinite;
          }

        .button {
            border: 0;
            padding: 0;
            box-sizing: border-box;
            width: 0;
            height: 2rem;
        
            border-color: transparent transparent transparent #202020;
            transition: 100ms all ease;
        
            // when playing, show the pause symbol
            border-style: double;
            border-width: 0 0 0 1.8rem;
        
            // when paused, show the play symbol
            &.paused {
                border-style: solid;
                border-width: 1rem 0 1rem 1.8rem;
            }                
        }
        
    }    

    .controlsection {
        flex-basis: 4rem;
        margin: 0 5px;
        display: flex;
        flex-direction: column;

        label {
            text-align: left;
            color: var(--color-text);
        }
        input,
        select,
        #bar-field {
            box-sizing: border-box;
            border: 2px solid var(--color-border);
            height: 2rem;
            padding: 2px;
            margin: 0;
            border-radius: 1vh;
            font-size: 1.2rem;
        }
    }

    .partcontrol {
        flex-basis: 6rem;
    }

    .statusspacer {
        flex-grow: 1;
    }

    #statusarea {
        flex-basis: 5rem;
        display: flex;
        flex-direction: column;
        font-size: 0.9rem;
        text-align: left;
        text-transform: capitalize;
        color: var(--color-text);
        &.hide {
            transition: 1.5s;
            color: var(--color-background);
        }
    
        @media screen and (max-width: 25rem) {
            display: none;
        }
    }
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

@keyframes colors {
  0% { stroke: hsl(var(--color-c1), 50%, 50%); }
  25% { stroke: hsl(var(--color-c3), 50%, 50%); }
  50% { stroke: hsl(var(--color-c5), 50%, 50%); }
  75% { stroke: hsl(var(--color-c8), 50%, 50%); }
  100% { stroke: hsl(var(--color-c1), 50%, 50%); }
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: calc($offset/4);
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}
